@import "variables";

body {
    background-color: $lblue;
}

header, footer {
    background-color: $blue;
    height: 130px;
    margin: 15px 0;
    border-radius: 100px;
    font-family: $heading-font;
    border: 1.25px solid black;
}
footer {
    margin-bottom: 0;
}
.logo {
    margin: 20px;
    height: 100px;
    width: 140px;
}
#gym-name {
    margin-top: 5px;
    margin-left: 250px; 
    color: gold;
    text-shadow: 3px 3px rgb(1, 1, 255);
}
.sub-heading {
    margin-left: 45px;
}

#landing {
    background-color: $red;
    height: 575px;
    border-radius: 70px;
    border: 1.25px solid black;
}

#top{
    margin: 0;
}
#bottom {
    margin: 0;
}
#trainers {
    margin: 50px 35px 0px;
    padding: 0;
    width: 1100px;
    height: 220px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border: 1px solid $blue;
}
#yorvi {
    background-color: rgb(65, 37, 65);
    height: 255px; 
    border-top-left-radius: 50px;
}
#scottie {
    background-color: rgb(40, 58, 12);
    height: 255px;
    border-top-right-radius: 50px;
}

#poke-showcase {
    background-color: $blue;
    margin: 0px 35px;
    padding: 0;
    width: 1100px;
    height: 255px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
#y-poke {
    background-color: violet;
    height: 255px; 
    border-bottom-left-radius: 50px;
}
#s-poke {
    background-color: greenyellow;
    height: 255px;
    border-bottom-right-radius: 50px;
}

#battle {
    margin-top: 50px;
    background-color: $red;
    height: 600px;
    border-radius: 70px;
    border: 1.25px solid black;
}
#high {
    border: 2px solid white; 
    height: 265px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;    
}
#nada1 { 
    background: repeating-linear-gradient(-45deg, gray, black 5px, gray 5px, black 10px);
    height: 261px;
    border-top-left-radius: 60px;
}
#main {
    background-color: $lgb;
    height: 261px;
}
#y-battle {
    background-color: rgb(65, 37, 65);
    height: 261px;
    border-top-right-radius: 60px;
}

#spacer {
    height: 45px;
    background-color: wheat;
}
.rotation {
    height: 39px;
    width: 50px;
    margin: 3px 370px 0;
}

#low {
    border: 2px solid white; 
    height: 265px;
    margin-top: 0px;
    padding: 0;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;    
}
#s-battle {
    background-color: rgb(40, 58, 12);
    height: 261px;
    border-bottom-left-radius: 60px;
}
#nada2 {
    background: repeating-linear-gradient(-45deg, gray, black 5px, gray 5px, black 10px);
    height: 261px;
    border-bottom-right-radius: 60px;
}
