@font-face {
  font-family: "Pokemon GB";
  src: url("fonts/pokemon-gb.ttf"); }
body {
  background-color: #A8DADC; }

header, footer {
  background-color: #457B9D;
  height: 130px;
  margin: 15px 0;
  border-radius: 100px;
  font-family: "Press Start 2P", sans-serif;
  border: 1.25px solid black; }

main {
  font-family: "Pokemon GB", sans-serif; }

footer {
  margin-bottom: 0; }

.logo {
  margin: 20px;
  height: 100px;
  width: 140px; }

#gym-name {
  margin-top: 5px;
  margin-left: 250px;
  color: gold;
  text-shadow: 3px 3px #0101ff; }

.sub-heading {
  margin-left: 45px; }

.trainer-name {
  margin-left: 28px;
  margin-top: 12px;
  font-size: 10px; }

.yorvi-rasputin {
  height: 210px;
  width: 150px;
  margin-top: -75px;
  margin-left: 290px; }

.right-trainer-name {
  margin-left: 30px;
  margin-top: 12px;
  font-size: 10px; }

.scottie {
  height: 200px;
  width: 130px;
  margin-top: -70px;
  margin-left: 100px; }

#landing {
  background-color: #E63946;
  height: 675px;
  border-radius: 70px;
  border: 1.25px solid black; }

.open-pokeball {
  height: 120px;
  width: 150px;
  margin-left: -35px; }

.right-open-pokeball {
  height: 120px;
  width: 150px;
  margin-left: 410px; }

.title-banner {
  height: 45px;
  width: 200px;
  background-color: #0F3D0F;
  margin-top: -85px;
  margin-left: 30px;
  border-top-right-radius: 50px;
  border: 5px solid white;
  color: #F27825; }

.right-title-banner {
  height: 45px;
  width: 200px;
  background-color: #003643;
  margin-top: -85px;
  margin-left: 295px;
  border-top-left-radius: 50px;
  border: 5px solid white;
  color: #01B7E2; }

#top {
  margin: 0; }

#bottom {
  margin: 0; }

#trainers {
  margin: 50px 35px 0px;
  padding: 0;
  width: 1100px;
  height: 220px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border: 5px solid black; }

#vs {
  margin-top: -20px;
  width: 100px;
  height: 100px;
  margin-left: 50px;
  position: absolute; }

#yorvi {
  background-color: #F27825;
  height: 255px;
  border-top-left-radius: 50px; }

#scottie {
  background-color: #01B7E2;
  height: 255px;
  border-top-right-radius: 50px; }

#poke-showcase {
  background-color: #457B9D;
  margin: 0px 35px;
  padding: 0;
  width: 1100px;
  height: 255px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px; }

#y-poke {
  padding-top: 20px;
  background-color: #0F3D0F;
  height: 355px;
  border-bottom-left-radius: 50px;
  text-align: center;
  font-size: 15px;
  color: #F27825; }

#s-poke {
  padding-top: 20px;
  background-color: #003643;
  height: 355px;
  border-bottom-right-radius: 50px;
  text-align: center;
  color: #01B7E2; }

#battle {
  margin-top: 50px;
  background-color: #E63946;
  height: 600px;
  border-radius: 70px;
  border: 1.25px solid black; }

#high {
  border: 2px solid white;
  height: 265px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px; }

#nada1 {
  background: repeating-linear-gradient(-45deg, gray, black 5px, gray 5px, black 10px);
  height: 261px;
  border-top-left-radius: 60px; }

#main {
  background-color: #F1FAEE;
  height: 261px; }

#y-battle {
  background-color: #412541;
  height: 261px;
  border-top-right-radius: 60px; }

#spacer {
  height: 45px;
  background-color: wheat; }

.rotation {
  height: 39px;
  width: 50px;
  margin: 3px 370px 0; }

#low {
  border: 2px solid white;
  height: 265px;
  margin-top: 0px;
  padding: 0;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px; }

#s-battle {
  background-color: #283a0c;
  height: 261px;
  border-bottom-left-radius: 60px; }

#nada2 {
  background: repeating-linear-gradient(-45deg, gray, black 5px, gray 5px, black 10px);
  height: 261px;
  border-bottom-right-radius: 60px; }

/*# sourceMappingURL=main.css.map */
