$red: #E63946;
$lgb: #F1FAEE;
$lblue: #A8DADC;
$blue: #457B9D;

$trainergreen: #0F3D0F;
$tgaccent: #F27825;
$trainerblue: #003643;
$tbaccent: #01B7E2;

$heading-font: "Press Start 2P", sans-serif;
$primary-font: "Pokemon GB", sans-serif;
