#trainerSprite {

  margin-top: 20px;
}



#trainerSprite2 {
  margin-top: 20px;
  margin-left: 37px;
  width: 80px;
  height: 130px;

}

#s-battle {
  background-color: rgb(255, 254, 136);
}



#piplupImg {
  margin: 25px 0px 0px 50px;
  width: 150px;
  height:150px;
  position: absolute;
}

#prinplupImg {
  margin: 25px 0px 0px 50px;
  width: 150px;
  height:150px;
  position: absolute;
  opacity: 0;
}


#empoleonImg {
  margin: 0px 150px 0px 50px;
  width: 140px;
  height:180px;
  position: absolute;
  opacity: 0;
}

#venasaurImg {
  float: right;
  margin: 30px 0px 0px 10px;
  width: 190px;
  height:150px;
  position: absolute;
  left: 850px;
  top: 1000px;
  opacity: 1;
}

#starImg {
  float: right;
  margin: 30px 0px 0px 10px;
  width: 190px;
  height:150px;
  position: absolute;
  left: 850px;
  top: 1000px;
  opacity: 0;
}

#arcanineImg {
  float: right;
  width: 190px;
  height:150px;
  position: absolute;
  left: 875px;
  top: 1030px;
  opacity: 0;
}

h6 {
   margin-top: 7px;
   margin-bottom: 0;
   text-align: center;
   color: white;
}

.scottPokeSprites img {
  width: 30px;
  height: 30px;

}


.moveContainerBottom{
  margin-top: 200px;
}

.moveContainerTop {
  position: absolute;
  width: 750px;
    z-index: 2;
}

.moveContainerTop2 {
  position: absolute;
    width: 750px;
      z-index: 1;
}

.moveContainerTop3 {
  position: absolute;
    width: 750px;
    z-index: 0;
}




.moveContainerBottom button {
  float:right;
  padding:0px 130px 0px 130px;
  width: 50%;
  height: 30px;
  font-family: "Pokemon GB";
  font-size: 10px;

}

.moveContainerTop button {
  float:right;
  padding:0px 130px 0px 130px;
  width: 50%;
  height: 30px;
  font-family: "Pokemon GB";
  font-size: 10px;

}

.moveContainerTop2 button {
  float:right;
  padding:0px 130px 0px 130px;
  width: 50%;
  height: 30px;
  font-family: "Pokemon GB";
  font-size: 10px;

}
.moveContainerTop3 button {
  float:right;
  padding:0px 130px 0px 130px;
  width: 50%;
  height: 30px;
  font-family: "Pokemon GB";
  font-size: 10px;

}









.moveContainerTop button:hover {
  background-color: white;
  color: black;
}

.moveContainerBottom button:hover {
  background-color: white;
  color: black;
}

#spacer {
  background-color: black;
}




progress {
  width: 296px;
}

.hpnumberBot {
  float: right;
  margin-top: 155px;
  margin-left: 10px;
font-size: 15px;

}
#piplupHP {
  border-right: solid black 2px;
  border-bottom: solid black 2px;
  width: 300px;
  height: 15px;
  float: right;
  margin: 160px 0px 0px 0px;

}


.hpnumberTop {
  float: left;
font-size: 15px;
position: absolute;
top:1005px;
opacity: 1;

}

.hpnumberTop2 {
  float: left;
font-size: 15px;
position: absolute;
top:1005px;
opacity: 0;

}

.hpnumberTop3 {
  float: left;
font-size: 15px;
position: absolute;
top:1005px;
opacity: 0;

}
#venasaurHP {
  border-left: solid black 2px;
  border-bottom: solid black 2px;
  width: 300px;
  height: 15px;
  float: left;
  margin: 85px 130px 0px 0px;
  position: absolute;
  opacity: 1;

}
#starmieHP {
  border-left: solid black 2px;
  border-bottom: solid black 2px;
  width: 300px;
  height: 15px;
  float: left;
  margin: 85px 130px 0px 0px;
  position: absolute;
  opacity: 0;

}
#arcanineHP {
  border-left: solid black 2px;
  border-bottom: solid black 2px;
  width: 300px;
  height: 15px;
  float: left;
  margin: 85px 130px 0px 0px;
  position: absolute;
  opacity: 0;

}


.pokeballSprite {
  width: 30px;
  height: 30px;
  margin: 30px 0px 0px 12px;
}

.pokeballSprite2 {
  width: 30px;
  height: 30px;
  margin: 30px 0px 0px 12px;
}













@keyframes attack {
  0% {
    transform: translateX(0px); }
  50% {
    transform: translateX(30px); }
  100 {
    transform: translateX(0px); }

   }

   .attack {
     animation-name: attack;
     animation-duration: 0.4s;
     animation-fill-mode: forwards; }





@keyframes attackTop {
  0% {
    transform: translateX(0px); }
  50% {
    transform: translateX(-30px); }
  100 {
    transform: translateX(0px); }

   }

   .attackTop {
     animation-name: attackTop;
     animation-duration: 0.4s;
     animation-fill-mode: forwards; }
